body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background: url(/images/bg.jpg);
}

h2 {
  font-weight: 200;
}

a {
  text-decoration: none;
  font-weight: 400;
  font-family: Helvetica;
  color: #007DDC;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: ;
}

a img {
  border: 0;
}

.name {
  font-style: normal;
  font-size: 40px;
  text-align: center;
}

.name h1 {
  margin: 40px 0 20px;
  font-weight: 400;
}

.description {
  margin-bottom: 40px;
  text-align: center;
}

.elsewhere {
  text-align: center;
}

.elsewhere ul {
  margin: 40px 0;
  padding: 0;
  font-size: 1em;
  font-weight: 200;
}

.elsewhere ul li {
  display: inline;
  list-style-type: none;
  padding: 0 4px;
}

.nav {
  text-align: center;
  font-weight: 200;
  font-size: 1.2em;
}

.nav ul {
  margin: 0;
  padding: 8px 0;
}

.nav ul li{
  display: inline;
  padding: 10px;
}

.contact {
  text-align: center;
}

.fixed-nav {
  position: fixed;
  top: 0;
}

.default {
/*  margin-left: 150px;*/
}

.default .name h1 {
  font-size: 40px;
  margin: 10px 0;
}

.portfolio-entry ul.gallery {
/*    text-align: justify;*/
}

.portfolio-entry ul.gallery li {
    display: inline-block;
    list-style-type: none;
/*    margin-right: 1px;*/
}

.portfolio-entry ul.gallery li img {
    -webkit-transition: border 0.2s ease-in;
    border: 4px solid #3c3c3c;
    height: 70px;
    width: 70px;
}
.portfolio-entry ul.gallery li img:hover {
    -webkit-transition: border-color 0.2s ease-in;
    border-color: #0063dc;
}