/* @override http://localhost:4000/css/main.css */

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 22px;
}

a {
	text-decoration: none;
}

a:hover {
	color: #000099;
	border-bottom: 2px solid;
}


a:hover.img-link {
    border-bottom: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0.5em 0;
}

ul li {
    display: inline;
    padding-right: 0.8em;
}

td {
    vertical-align: top;
    padding: 0 1em 0 0;
}

p {
    margin-bottom: 1em;
}

/*
Creates a 17 column wide grid.
*/
.container {
  	width: 550px;
}

/*
Navigation
*/
.navigation {
	margin-bottom: 10px;
}
.navigation ul {
	text-align: left;
}

.header h1 {
	margin-bottom: 44px;
}

/* Home */
.home p {
    text-align: justify;
}

.home img {
    width: 430px;
}

.home a img {
	margin-bottom: 1.5em;
    border: 1.5em solid #594D4F;
    -webkit-box-shadow: 0px 0px 10px #888;
    -moz-box-shadow: 0px 0px 10px #888;
}

/* Post */
.post p {
    text-align: justify;
}

.post h4.title {
    font-weight: bold;
    margin-bottom: 14px;
}

.post ul {
    list-style-type: disc;
    padding: 0 1em;
}

/* Resume */
.resume ul {
    list-style-type: disc;
    text-align: justify;
}

.resume h2 {
	margin-top: 1.6em;
	margin-bottom: 0;
}

.resume h6 {
	margin-top: 1.6em;
}

div.resume h2:first-child {
	margin-top: 0;
}

.resume hr {
	margin-top: 1.6em;
}

div.resume {
	margin-bottom: 40em;
}