/*
Dark brown: 262318
Mid brown: 2E1E15
Light brown: 473D2A
Dark green: 5D7B2C
Light green: 93B02A
Aqua-green: 468966
Blue: 44AFDD
Golden-Yellow: FFF0A5
Orange-Yellow: FFB03B
Flame-Orange: B64926
Burnt-Orange: 8E2800
*/

body{background-color: #140D09; font-family:Arial,"MS Trebuchet",sans-serif;}
p, li{font-size: 1.2em;}
/*li{font-size:1.4em;font-weight:bold;list-style-type:none;}*/
a{text-decoration:none;color:#44AFDD;}
a:hover{text-decoration:underline;}
a:hover:visited{text-decoration:underline;}
a:visited{color:#85765F;}
a > img {border: none;}

.container {
    width: 830px;
    margin-bottom: 200px;
    padding-bottom: 1em;
    background-color: white;
    border-top: 1em solid #44AFDD;
    -moz-border-radius-bottomright: 14px;
    -moz-border-radius-bottomleft: 14px;
}

#navigation {width: 100%; font-size: 1.6em;}
#navigation ol {text-align: right;}
#navigation ol li {display: inline; padding-left: 0.2em;}

/*
Posts
*/
#post div.content{
  text-align: justify;
}
/*#post li{
  font-size: 1em;
  font-weight: normal;
  list-style-type: disc;
}*/

/*
Dynamic service driven elements
*/
.tweets {display: none;}
.tweets li {list-style-type:disc;}