body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 25px;
}

a {
	text-decoration: none;
}

a:hover {
	color: #000099;
	border-bottom: 2px solid;
}


a:hover.img-link {
    border-bottom: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

td {
    vertical-align: top;
    padding: 0 1em 0 0;
}

p {
    margin-bottom: 1em;
}

/*
Creates a 17 column wide grid.
*/
.container {
  	width: 550px;
}

/*
Navigation
*/
.navigation ul {
	text-align: right;
}

/*
Home
*/
.home p {
    text-align: justify;
}

.home img {
    width: 430px;
}

.home a img {
	margin-bottom: 1.5em;
    border: 1.5em solid #594D4F;
    -webkit-box-shadow: 0px 0px 10px #888;
    -moz-box-shadow: 0px 0px 10px #888;
}

/*
Header
*/
.header {
    margin-top: 1em;
}

/*
Post
*/
.post p {
    text-align: justify;
}

.post h4.title {
    font-weight: bold;
    margin-bottom: 14px;
}

.post ul {
    list-style-type: disc;
    padding: 0 1em;
}

/*Resume*/
.resume li{
    text-align: justify;
}

.resume ul {
    list-style-type: disc;
}