body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
	text-decoration: none;
}

a:hover {
	color: #000099;
	border-bottom: 0.2em solid;
}

a img {
	margin-bottom: 1.5em;
    border: 1.5em solid #594D4F;
    -webkit-box-shadow: 0px 0px 10px #888;
    -moz-box-shadow: 0px 0px 10px #888;
}

/*
Creates a 17 column wide grid.
*/
.container {
  	width: 670px;
}

/*
Navigation
*/
.navigation ul {
	padding: 0;
	list-style-type: none;
	font-size: 1.6em;	
	text-align: right;
}

/*
Home
*/

.home p {
    font-size: 1.6em;
    text-align: justify;
}

/*
Header
*/

.header {
    margin-top: 1em;
}


/*
About
*/
.about p {
    text-align: justify;
}

/*
Writing
*/
.writing td {
	padding: 2px;
}

.writing tr td.post-date {
    font-family: "Courier New", Courier, mono;
	color: #747474;
	width: 100px;
	font-size: 1.2em;
	vertical-align: top;
}

.writing tr td.post-title {
	font-family: inherit;
	font-size:  1.2em;
}

/*
Post
*/

h4.post-date {
    margin: 0;
}

p.post-title {
    font-size: 1.2em;
}

.post div.post_header h4 {    
    padding: 0;
}

.post div.post_header h4.updated {
    margin-bottom: 1em;
}