<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <meta name="author" content="Nate Agrin" />
    
  <title>{{ page.title }}</title>

  <link href="http://feeds.feedburner.com/n8agrin" rel="alternate" title="Nate Agrin's Blog" type="application/atom+xml" />
  <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" title="Main Stylesheet" charset="utf-8"></link>
  <script type="text/javascript" charset="utf-8" src="http://jqueryjs.googlecode.com/files/jquery-1.3.2.min.js"></script>
</head>
<body>
<div class="container">
    {% include navigation.html %}
    {{ content }}
</div>
  
  
  <!--
    Dude don't look here this is secret!  Did you sign my NDA?
    ______________X
  <li>l-ilatorpitch</li>
  <li>money diff</li>
  <li>portfolio builder</li>
  -->
  
  <!--
           <canvas width="400px" height="300px" id="demo" />
      <script type="text/javascript" charset="utf-8" src="http://github.com/jeresig/processing-js/raw/master/processing.min.js"></script>

    
  </script>
   <script type="application/processing" charset="utf-8">

  // Global variables
  int radius = 50.0;
  int X, Y;
  int nX, nY;
  int delay = 16;

  // Setup the Processing Canvas
  void setup(){
    size( 200, 200 );
    strokeWeight( 10 );
    frameRate( 15 );
    X = width / 2;
    Y = width / 2;
    nX = X;
    nY = Y;  
  }

  // Main draw loop
  void draw(){

    radius = radius + sin( frameCount / 4 );

    // Track circle to new destination
    X+=(nX-X)/delay;
    Y+=(nY-Y)/delay;

    // Fill canvas grey
    background( 100 );

    // Set fill-color to blue
    fill( 0, 121, 184 );

    // Set stroke-color white
    stroke(255); 

    // Draw circle
    ellipse( X, Y, radius, radius );                  
  }


  // Set circle's next destination
  void mouseMoved(){
    nX = mouseX;
    nY = mouseY;  
  }
   </script>
  <script type="text/javascript" charset="utf-8">
    // Processing($('canvas#demo').get(0), $('script[type="application/processing"]').text());
  </script> -->
  
    <!-- <script type="text/javascript" charset="utf-8">
        var MAX_REMOTE_ITEMS = 5;
    
        function iterFactory(callable) {
          var count = 0;
          return function(idx, elem) {
              if (count >= MAX_REMOTE_ITEMS) return false;
              callable.apply(this, [idx, elem]);
              count++;
          };
        }
    
        function twitterCallback(resp) {
          try {
              var twitter_statuses = $('#twitter_statuses');
              $.each(resp, iterFactory(function() {
                var li = $('<li/>').text(this['text']);
                twitter_statuses.append(li);
              }));
          }catch(e) {}
        }
    </script> -->
  
    <!-- <div id="twitter_statuses"></div> -->
  
    <!-- <script type="text/javascript" charset="utf-8" src="http://jqueryjs.googlecode.com/files/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="http://twitter.com/statuses/user_timeline/894321.json?callback=twitterCallback"></script> -->


<script type="text/javascript">var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));</script>
<script type="text/javascript">try {var pageTracker = _gat._getTracker("UA-248105-3"); pageTracker._trackPageview();} catch(err) {}</script>
</body>
