<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="Nate Agrin" />
  
  <title>Nate Agrin: {{ page.title }}</title>
  <link rel="stylesheet" href="/css/720grid.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="stylesheet" href="/css/home.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml" />
  <!-- <script type="text/javascript" src="http://use.typekit.com/ruj8gye.js"></script> -->
  <!-- <script type="text/javascript">try{Typekit.load();}catch(e){}</script>-->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
</head>

<body>
  <div class="container_9 default"> 
    <div class="name grid_7 prefix_1">
      <h1 class="tk-league-gothic">Nate Agrin</h1>
    </div>
    <div class="nav grid_7 prefix_1">
      {% include navigation.html %}
    </div>
    {{ content }}
  </div>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-248105-3']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>