<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="Nate Agrin" />

  <title>Nate Agrin: {{ page.title }}</title>
  <link rel="stylesheet" href="/css/620grid.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="stylesheet" href="/css/home.css" type="text/css" media="screen" charset="utf-8" />

  <link rel="alternate" type="application/atom+xml" title="n8agrin - Atom" href="http://n8agrin.blogspot.com/feeds/posts/default" />
  <link rel="alternate" type="application/rss+xml" title="n8agrin - RSS" href="http://n8agrin.blogspot.com/feeds/posts/default?alt=rss" />

  <script type="text/javascript" src="http://use.typekit.com/ruj8gye.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body>
  <div class="container_8 content {{ page.class | downcase }}">
    {{ content }}
  </div>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script src="http://platform.twitter.com/anywhere.js?id=pHt1jvQq5PpXypQGuaFw&amp;v=1"></script>
  <script type="text/javascript">twttr.anywhere(function(twitter) {twitter.hovercards();});</script>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-248105-3']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>