<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="Nate Agrin" />
  
  <title>Nate Agrin: {{ page.title }}</title>
  <link rel="stylesheet" href="/css/620grid.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="stylesheet" href="/css/home.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml" />
  <script type="text/javascript" src="http://use.typekit.com/ruj8gye.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <link rel="stylesheet" href="/js/fancybox/jquery.fancybox-1.3.1.css" type="text/css" media="screen" />
  <style type="text/css" media="screen">
    #tip7-title { text-align: left; }
    #tip7-title b { display: block; margin-right: 80px; }
    #tip7-title span { float: right; }
  </style>
</head>

<body>
  <div class="container_8 default"> 
    <div class="name grid_8">
      <h1 class="tk-league-gothic">Nate Agrin</h1>
    </div>
    <div class="nav grid_8">
      {% include navigation.html %}
    </div>
    <div class="grid_7 prefix_1">
    {{ content }}
    </div>
  </div>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript" src="/js/fancybox/jquery.fancybox-1.3.1.pack.js"></script>
  <script type="text/javascript" src="/js/fancybox/jquery.easing-1.3.pack.js"></script>
  <script type="text/javascript" src="/js/fancybox/jquery.mousewheel-3.0.2.pack.js"></script>
  
  <script type="text/javascript" charset="utf-8">
  function formatTitle(title, currentArray, currentIndex, currentOpts) {
      return '<div id="tip7-title"><span><a href="javascript:;" onclick="$.fancybox.close();"><img src="/js/fancybox/closelabel.gif" /></a></span>' + (title && title.length ? '<b>' + title + '</b>' : '' ) + 'Image ' + (currentIndex + 1) + ' of ' + currentArray.length + '</div>';
  }
    $('ul.gallery a').fancybox({
      transitionIn: 'elastic',
      transitionOut: 'elastic',
      speedIn: 200,
      speedOut: 200,
      changeSpeed: 100,
      titleFormat: formatTitle,
      titlePosition: 'inside',
      showCloseButton: false
    });
  </script>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-248105-3']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>