<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="Nate Agrin" />
  
  <title>Nate Agrin: {{ page.title }}</title>
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" title="no title" charset="utf-8" />
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml" />
  <!-- <script type="text/javascript" src="http://use.typekit.com/ruj8gye.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script> -->
  <link rel="stylesheet" href="/js/fancybox/jquery.fancybox-1.3.1.css" type="text/css" media="screen" />
  <style type="text/css" media="screen">
    #tip7-title { text-align: left; }

    #tip7-title b { display: block; margin-right: 80px; }

    #tip7-title span { float: right; }
  </style>
</head>

<body>
  <div class="site">
    <div class="title">{% include navigation.html %}</div>
    {{ content }}
    <div class="footer">
      <div class="contact">
        <p>
          <a href="http://www.n8agrin.com">Nate Agrin</a><br />
        </p>
      </div>
      <div class="contact">
        <p>
          <a href="http://github.com/n8agrin/">github.com/n8agrin</a><br />
          <a href="http://twitter.com/n8agrin/">twitter.com/n8agrin</a><br />
          <a href="http://flickr.com/photos/n8agrin/">flickr.com/photos/n8agrin</a>
        </p>
      </div>
      <div class="rss">
        <a href="/atom.xml"><img src="/images/feed-icon-28x28.png" alt="Subscribe to RSS Feed" /></a>
      </div>
    </div>
    <div id="n8fortunecookie"></div>
  </div>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript" src="/js/fancybox/jquery.fancybox-1.3.1.pack.js"></script>
  <script type="text/javascript" src="/js/fancybox/jquery.easing-1.3.pack.js"></script>
  <script type="text/javascript" src="/js/fancybox/jquery.mousewheel-3.0.2.pack.js"></script>
  
  <script type="text/javascript" charset="utf-8">
  function formatTitle(title, currentArray, currentIndex, currentOpts) {
      return '<div id="tip7-title"><span><a href="javascript:;" onclick="$.fancybox.close();"><img src="/js/fancybox/closelabel.gif" /></a></span>' + (title && title.length ? '<b>' + title + '</b>' : '' ) + 'Image ' + (currentIndex + 1) + ' of ' + currentArray.length + '</div>';
  }
    $('ul#inaturalist-thumbnails a').fancybox({
      transitionIn: 'elastic',
      transitionOut: 'elastic',
      speedIn: 200,
      speedOut: 200,
      changeSpeed: 100,
      titleFormat: formatTitle,
      titlePosition: 'inside',
      showCloseButton: false
    });
  </script>
  
  <script type="text/javascript" charset="utf-8">
    function twitterCallback(resp) {
      var tweets = $.map(resp, function(e) {return e.text;});
      var rnd = ~~(Math.random()*tweets.length);
      $('#n8fortunecookie')
        .text(tweets[rnd] + " - ")
        .append('<a href="https://twitter.com/n8fortunecookie">@n8fortunecookie</a>');
    }
    $.getScript('http://twitter.com/statuses/user_timeline/n8fortunecookie.json?callback=twitterCallback');
  </script>
  
  
</body>
</html>