---
layout: default
---
<style type="text/css" media="screen">
  .subnav ul {margin: 30px 0 0 0; padding: 0;}
  .subnav ul li {margin-bottom: 4px; list-style-type: none; text-align: right;}
</style>
<div class="grid_2 subnav">
  <ul>
    <li><a href="/resume.txt">as text</a></li>
    <!-- <li><a href="/resume.txt">as pdf</a></li> -->
    <li><a href="http://www.linkedin.com/in/n8agrin" >
      <img src="http://www.linkedin.com/img/webpromo/btn_profile_bluetxt_80x15.png" width="80" height="15" border="0" alt="View Nathan Agrin's profile on LinkedIn"></a></li>
  </ul>
</div>
<div class="grid_7">
{{ content }}
</div>